[General]
Repo=https://rtc.mySite.com
User=USR
Password=secret
Stream=HeadDevelopmentStream
GIT-Reponame = myGitRepo.git
WorkspaceName=ToBeCreatedWorkspaceName
## Will be created or emptied on initialization
Directory = \temp\myWorkingDirectory

[Migration]
# Streams referenced by Name or UUID, separated by ",".
# They should follow the order the way you like your branches, beginning from the oldest and ending with your most current stream
Streams=Stream_Version1, Stream_Version2, HeadDevelopmentStream


