[General]
Repo=https://rtc.mySite.com/ccm
User=USR
Password=secret
GIT-Reponame = myGitRepo.git
WorkspaceName=ToBeCreatedWorkspaceName
# If this value is set to True, the workspace referred with workspacename will just be loaded instead of newly created
useExistingWorkspace = False
# Folder to be created - where migration will take place
Directory = \temp\myWorkingDirectory
# Scm command to use (lscm or scm)
ScmCommand = lscm
# Optional - Set encoding of files (For example encoding = UTF-8)
# See https://github.com/WtfJoke/rtc2git/wiki/Encoding for further instructions
encoding =

[Migration]
# Stream to be migrated,  referenced by Name or UUID
StreamToMigrate = MyDevelopmentStream

# Optional - Used by author for prepare a workspace for migrating an earlier release-stream to a later one
# (eg. When Migrating Stream_Version2, Previous-Stream would be Stream_Version1
PreviousStream=

# Optional, can be defined additionally to set the workspace to a specific baseline
# Use following format: ComponentName = BaseLineName, AnotherComponentName=BaseLineName
# If its not set, it will determine the oldest baseline (takes some time, depending of how much components you have in your stream)
InitialBaseLines =

# False - Rely on order of changeset provided by the rtc cli compare command (due wrong order, more likely to cause merge-conflicts
# True - (Component)History needs to be provided in a separate file by the user
# For more information read https://github.com/WtfJoke/rtc2git/wiki/Getting-your-History-Files
UseProvidedHistory = False

# Determines whether to prompt the user to accept change sets together to resolve accept errors.
# False - The user is prompted
# True - The user is not prompted
UseAutomaticConflictResolution = False

[Miscellaneous]
# Set to true if you want to see which commands are sent to command line
LogShellCommands = False